@model Vidly.ViewModels.ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
}

<div class="col-sm-12 col-md-10 col-lg-7 mx-auto">
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <h2 class="text-center">@ViewBag.Title</h2>
        <hr/>

        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword)
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.OldPassword)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword)
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
        <div class="text-right mt-4">
            <input type="submit" class="btn btn-md btn-primary ml-2" value="Change password" />
        </div>
    }
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
