<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    @*
        Layout is the Master page in this case.
        If Master page has a Model, it will be automatically passed down to Partial Views
    *@
    @Html.Partial("_Navbar")

    <div class="container body-content">
        @RenderBody()
        <hr />

        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)

    <script>
        // Toastr Configuration
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "100",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "linear",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>

    @if (TempData["Success"] != null)
    {
        <script> toastr.success("@TempData["Success"]"); </script>
    }
    @if (TempData["Info"] != null)
    {
        <script> toastr.info("@TempData["Info"]"); </script>
    }
    @if (TempData["Warning"] != null)
    {
        <script> toastr.warning("@TempData["Warning"]"); </script>
    }
    @if (TempData["Error"] != null)
    {
        <script> toastr.error("@TempData["Error"]"); </script>
    }
</body>
</html>
